*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    height: 100%;
}

.wrapper{
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navigation_item{
    margin-left: 10px;
}

.navigation_item>a{
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 400; 
    font-size: 22px; 
}

.navigation_item>a:hover{
    color: white;
    background-color: black;
    transition: 0.3s;
}

.main{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid grey;
}

.title_photo{
    width: 200px;
    border-radius: 50%;
}

.title_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.article{
    width: calc(50% - 30px);
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 25px;
}

.article>h2{
    color: rgb(114, 10, 98);
    letter-spacing: 1px;
}

.article>ul{
    line-height: 25px;
}

.article_link{
    text-decoration: none;
    color: rgb(7, 9, 111);
    letter-spacing: 1px;
}

.article_languages{
    border: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.school_logo{
    width: 100px;
}

.github_logo{
    width: 100px;
}